@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600,700,800&display=swap");
@font-face {
  font-family: GraphikBold;
  font-display: swap;
  src: url("../fonts/GraphikBold.woff2") format("woff2"), url("../fonts/GraphikBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: GraphikRegular;
  font-display: swap;
  src: url("../fonts/GraphikRegular.woff2") format("woff2"), url("../fonts/GraphikRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #19191b;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.background {
  position: absolute;
  width: 467px;
  height: 1233.79px;
  left: -571.52px;
  top: 213.59px;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
  filter: blur(300px);
  border-radius: 233.5px;
  transform: rotate(-54.37deg);
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.button {
  width: 12.5rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5454d4;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #4848f3;
    transition: all 0.3s ease;
  }
}
.button._fw {
  width: 100%;
}
.button-transparent {
  width: 9.8125rem;
  height: 2.75rem;
  background: none;
}
@media (any-hover: hover) {
  .button-transparent:hover {
    background-color: #ffffff;
    color: #000;
    transition: all 0.3s ease;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 5;
}
.logo__name {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 140%;
  padding-left: 0.5rem;
}
@media (min-width: 78.75em) {
  .logo__name {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (font-size: clamp( 1.5rem , 1.414893617rem  +  0.4255319149vw , 1.75rem )) {
    .logo__name {
      font-size: clamp( 1.5rem , 1.414893617rem  +  0.4255319149vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.414893617rem  +  0.4255319149vw , 1.75rem )) {
    .logo__name {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .logo__name {
    font-size: 1.5rem;
  }
}

.title {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.1666666667;
  color: #fff;
}
@media (min-width: 78.75em) {
  .title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (font-size: clamp( 1rem , 0.0638297872rem  +  4.6808510638vw , 3.75rem )) {
    .title {
      font-size: clamp( 1rem , 0.0638297872rem  +  4.6808510638vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.0638297872rem  +  4.6808510638vw , 3.75rem )) {
    .title {
      font-size: calc(1rem + 2.75 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1rem;
  }
}

.subtitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.8571428571;
  color: #fff;
  opacity: 0.7;
}

.header {
  margin-top: 2.625rem;
}
.header__container {
  position: relative;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons-block {
  display: flex;
  align-items: center;
}
.header__button {
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    background-color: #19191b;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #19191b;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body::before {
    height: 8.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
  @supports (height: clamp( 6.25rem , 6.2342767296rem  +  12.5786163522vw , 8.75rem )) {
    .menu__body::before {
      height: clamp( 6.25rem , 6.2342767296rem  +  12.5786163522vw , 8.75rem );
    }
  }
  @supports not (height: clamp( 6.25rem , 6.2342767296rem  +  12.5786163522vw , 8.75rem )) {
    .menu__body::before {
      height: calc(6.25rem + 2.5 * (100vw - 0.125rem) / 19.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body::before {
    height: 6.25rem;
  }
}
.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}
.menu__list {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    -moz-column-gap: 2.1875rem;
         column-gap: 2.1875rem;
    text-align: center;
  }
}
@media (max-width: 47.99875em) and (min-width: 78.75em) {
  .menu__list {
    padding-top: 11.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 78.75em) {
  @supports (padding-top: clamp( 8.125rem , 7.0611702128rem  +  5.3191489362vw , 11.25rem )) {
    .menu__list {
      padding-top: clamp( 8.125rem , 7.0611702128rem  +  5.3191489362vw , 11.25rem );
    }
  }
  @supports not (padding-top: clamp( 8.125rem , 7.0611702128rem  +  5.3191489362vw , 11.25rem )) {
    .menu__list {
      padding-top: calc(8.125rem + 3.125 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    padding-top: 8.125rem;
  }
}
.menu__item {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .menu__item {
    font-size: 2.5rem;
  }
}
.menu__link {
  position: relative;
}
.menu__link:after {
  content: "";
  position: absolute;
  top: 1.875rem;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
}
.menu__link:hover::after {
  width: 100%;
  background-color: #fff;
}

.active {
  color: #5454d4;
}

.icon-menu {
  margin-left: 1.25rem;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
    width: 1.25rem;
  }
  .icon-menu::after {
    bottom: 0;
    width: 0.625rem;
  }
  .icon-menu span {
    width: 0.9375rem;
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    width: 100%;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.main-block__content {
  display: flex;
  padding-bottom: 9.375rem;
}
.main-block__text {
  padding-top: 9.0625rem;
}
.main-block__title {
  width: 26.875rem;
  line-height: 1.05 !important;
}
@media (min-width: 78.75em) {
  .main-block__title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (font-size: clamp( 2.625rem , 1.8164893617rem  +  4.0425531915vw , 5rem )) {
    .main-block__title {
      font-size: clamp( 2.625rem , 1.8164893617rem  +  4.0425531915vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2.625rem , 1.8164893617rem  +  4.0425531915vw , 5rem )) {
    .main-block__title {
      font-size: calc(2.625rem + 2.375 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .main-block__title {
    font-size: 2.625rem;
  }
}
@media (min-width: 78.75em) {
  .main-block__title {
    width: 26.875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (width: clamp( 16.875rem , 13.4707446809rem  +  17.0212765957vw , 26.875rem )) {
    .main-block__title {
      width: clamp( 16.875rem , 13.4707446809rem  +  17.0212765957vw , 26.875rem );
    }
  }
  @supports not (width: clamp( 16.875rem , 13.4707446809rem  +  17.0212765957vw , 26.875rem )) {
    .main-block__title {
      width: calc(16.875rem + 10 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .main-block__title {
    width: 16.875rem;
  }
}
.main-block__subtitle {
  width: 36.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 78.75em) {
  .main-block__subtitle {
    width: 36.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (width: clamp( 20rem , 14.3617021277rem  +  28.1914893617vw , 36.5625rem )) {
    .main-block__subtitle {
      width: clamp( 20rem , 14.3617021277rem  +  28.1914893617vw , 36.5625rem );
    }
  }
  @supports not (width: clamp( 20rem , 14.3617021277rem  +  28.1914893617vw , 36.5625rem )) {
    .main-block__subtitle {
      width: calc(20rem + 16.5625 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .main-block__subtitle {
    width: 20rem;
  }
}
.main-block__button {
  border-radius: 4px;
}
.button__arrow {
  padding-left: 0.5rem;
}

.img-block {
  position: relative;
}
@media (min-width: 78.75em) {
  .img-block__main-img {
    width: 40.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.75em) {
  @supports (width: clamp( 6.25rem , -5.5585106383rem  +  59.0425531915vw , 40.9375rem )) {
    .img-block__main-img {
      width: clamp( 6.25rem , -5.5585106383rem  +  59.0425531915vw , 40.9375rem );
    }
  }
  @supports not (width: clamp( 6.25rem , -5.5585106383rem  +  59.0425531915vw , 40.9375rem )) {
    .img-block__main-img {
      width: calc(6.25rem + 34.6875 * (100vw - 20rem) / 58.75);
    }
  }
}
@media (max-width: 20em) {
  .img-block__main-img {
    width: 6.25rem;
  }
}
.img-block__icon {
  position: absolute;
  z-index: 2;
}
.img-block__arrow {
  left: -1.5625rem;
  top: 7.5rem;
}
.img-block__circle {
  top: 6.25rem;
  right: 3.125rem;
}
.img-block__plus {
  bottom: 1.875rem;
  right: 3.125rem;
}
.img-block__triangle {
  bottom: 1.875rem;
  left: -3.75rem;
}