@font-face {
	font-family: GraphikBold;
	font-display: swap;
	src: url("../fonts/GraphikBold.woff2") format("woff2"), url("../fonts/GraphikBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GraphikRegular;
	font-display: swap;
	src: url("../fonts/GraphikRegular.woff2") format("woff2"), url("../fonts/GraphikRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
